@charset "utf-8";
/* ----- RESET SETTINGS ----- */
body {
    margin: 0px;
    background-color: #F7F7F7;
}
a {
    text-decoration: none;
}
p, h1, h2, h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
/* ----- COLOR SETTINGS ----- */
/* GRAY COLOR : #F7F7F7 */
/* ORANGE COLOR : #FF5929 */
/* WHITE COLOR : #FFFFFF */
/* BLACK COLOR : #000000 */
/* ----- FONTS ----- */
@font-face {
    font-family: 'Helvetica';
    src: url("fonts/Helvetica.ttf");
    font-weight: normal;
}
/* ----- FONTS STYLES ----- */
body, h1, h2, h3, p, a {
    font-family: 'Helvetica', 'Arial', 'sans serif';;
    font-size: 1em;
}
h2, h3 {
	font-weight: bold;
}
h2 {
    font-size: 4em;
}
h3 {
	font-size: 2em;
}
/* ----- ID COLORS ----- */
#graycolor {
	background-color: #F7F7F7;
}
#orangecolor {
	background-color: #FF5929;
}
#whitecolor {
	background-color: #FFFFFF;
}
#blackcolor {
	background-color: #000000;
}
/* ----- BUTTONS & LINKS ----- */
a {
    color: #FFFFFF;
	transition: all 1s;
}
nav {
    display: flex;
	margin: auto;
}
nav a:hover {
    color: #FF5929;
}
.button-nav-bar:hover {
    background-color: #FFFFFF;
}
.button-full-width-image-orange:hover, .button-full-width-image-black:hover {
    background-color: #FFFFFF;
	color: #000000;
}
.button-about-us {
	color: #FFFFFF;
    background-color: #000000;
    transition: all 0.5s;
    width: max-content;
    padding: 15px 30px;
}
.button-about-us:hover {
    color: #000000;
	background-color: #FFFFFF;
}
.button-article {
	color: #000000;
    background-color: #FF5929;
    transition: all 0.5s;
    width: max-content;
    padding: 15px 30px;
}
.button-article:hover {
    color: #FFFFFF;
	background-color: #000000;
}
/* ----- NAVIGATION BAR ----- */
.nav-bar {
    display: flex;
	justify-content: space-between;
    height: 100px;
    background-color: #000;
}
.logo {
    display: flex;
    margin-left: 5%;
	width: 15%;
}
.menu a {
    padding: 20px;
}
.button-nav-bar {
    display: flex;
    background-color: #FF5929;
    transition: all 1s;
	width: 15%;
}
.button-nav-bar p {
    color: #000000;
    margin: auto;
    font-weight: bold;
}
/* ----- PRESENTATION ----- */
.full-width-image {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/homme-carton-camionnette.webp");
	background-position: center;
}
.content-full-width-image {
    display: flex;
    flex-direction: column;
	color: #FFFFFF;
	width: 35%;
    z-index: 2;
	padding: 8% 0% 8% 12%;
}
.row-full-width-image {
    display: flex;
    justify-content: flex-start;
	width: 540px;
	padding: 70px 0px;
}
.button-full-width-image-black, .button-full-width-image-orange {
    display: flex;
    width: 50%;
    background-color: #000000;
    font-family: 'Helvetica', 'Arial', 'sans serif';
    transition: all 0.5s;
	padding: 40px;
}
.button-full-width-image-black h2, .button-full-width-image-orange h2 {
    font-weight: bold;
	font-size: 1em;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.button-full-width-image-black h3, .button-full-width-image-orange h3 {
    font-weight: normal;
	font-size: 1em;
}
.button-full-width-image-orange {
    background-color: #FF5929;
}
/* ----- ABOUT ----- */
.full-width-about {
    display: flex;
    width: 100%;
	height: 600px;
    background-color: #FF5929;
}
.full-width-about-text, .full-width-about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    width: 50%;
}
#no-padding {
	padding: 0px;
}
#full-width-about-background {
	background-color: #F7F7F7;
}
#full-width-about-background br {
    height: 20px;
}
.full-width-about-image img {
    object-fit: cover;
    width: 100%;
	height: 100%;
    object-position: 50% 20%;
}
.full-width-about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	width: 60%;
}
.full-width-about-content p {
	padding-bottom: 20px;
	width: 70%;
}
.full-width-about-content h1, .full-width-about-content h2 {
	padding-bottom: 40px;
}
.full-width-about-content h2 {
	color: #FFFFFF;
}
/* ----- CONTACT SECTION ----- */
.adress-section {
    display: flex;
	justify-content: center;
    background-color: white;
	padding: 100px 0px;
}
.left-section, .right-section {
    display: flex;
	flex-direction: column;
	width: 30%;
}
.left-section p, .secteur-top {
    font-weight: bold;
    font-size: 3em;
	margin: auto;
}
.right-section p {
    font-size: 1em;
    margin: 10px 0px;
	padding-left: 25%;
}
#adress-section-column {
	flex-direction: column;
	align-items: center;
}
#adress-section-reset-padding {
	padding: 50px 0px 0px;
}
.secteur-bottom {
    margin: 0px 30px;
    text-align: center;
}
.secteur-bottom p {
	margin: 10px 0px;
}
/* ----- ARTICLES ----- */
.title-section {
    padding: 40px 0px;
	text-align: center;
}
.article-grid {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
.article {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #FFFFFF;
	margin: 10px;
}
.content-article {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}
.content-article h2 {
	font-size: 2em;
	padding: 20px 0px;
}
.content-article h3 {
	font-size: 1em;
	font-weight: normal;
	padding: 0px 0px 40px 0px;
}
#article-padding {
	padding: 50px 0px;
}
/* ----- SECTION WITH TABS ----- */
.tab-center, .tab-full-width {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}
.tab-center {
	padding-top: 50px;
	width: 70%;
}
.services-full-width-image, .guarantee-full-width-image {
    display: flex;
    align-items: center;
    justify-content: center;
	flex-basis: 100%;
	color: #FFFFFF;
    width: 100%;
}
.services-full-width-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/2hommes-portent-un-meuble.webp");
}
.guarantee-full-width-image {
	flex-direction: column;
	padding: 150px 0%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/homme-porte-carton.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 25%;
}
#graycolor, #orangecolor, #whitecolor, #blackcolor {
	padding: 60px 0px;
}
#graycolor, #whitecolor {
	color: #000000;
}
#graycolor h3, #orangecolor h3, #whitecolor h3, #blackcolor h3 {
	text-transform: uppercase;
	padding-top: 10px;
	font-size: 1em;
}
#graycolor p, #orangecolor p, #whitecolor p, #blackcolor p {
	font-weight: bold;
	padding-top: 10px;
	font-size: 1.5em;
}
.services-full-width-image h2 {
    padding: 150px 0px;
}
.tab {
    flex: 1;
	padding: 30px 0px;
	font-family: 'Helvetica', 'sans serif';
    color: #FFFFFF;
    text-align: center;
}
.tab h2 {
	font-size: 1em;
}
.tab img {
    width: 40px;
    padding-bottom: 8px;
}
/* ----- CONSEILS CARDS ----- */
.card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 50px 0px;
}
.black-card, .orange-card {
    text-align: center;
	width: 30%;
	margin: 5px;
	padding: 8%;
}
.black-card {
	color: #FFFFFF;
	background-color: #000000;
}
.orange-card {
	background-color: #FF5929;
}
.black-card h2, .orange-card h2 {
	font-size: 1em;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.black-card p, .orange-card p {
	font-size: 1em;
}
/* ----- TESTIMONIALS ----- */
div#clients-satisfaits {
	font-size: 0.8em;
    padding: 80px 0px;
}
.content-testimonials {
	display: flex;
	justify-content: space-evenly;
	align-content: stretch;
}
div#right-arrow {
    text-align: left;
    padding-left: 5%;
}
div#left-arrow {
    text-align: right;
    padding-right: 5%;
}
.col-testimonials {
	flex: 1;
	text-align: center;
}
.col-testimonials img {
	width:20px;
	cursor: pointer;
}
.col-testimonials span {
	font-weight: bold;
	color: #FF5929;
}
.col-testimonials p {
	padding-bottom: 20px;
}	
.content-partenaires {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0px;
}
.content-partenaires img {
	object-fit: contain;
}
/* ----- DEVIS SECTION ----- */
.devis-form-section {
    display: flex;
    align-items: center;
	justify-content: space-evenly;
    background-color: #FF5929;
	padding: 80px 20%;
}
.devis-section {
    display: flex;
	flex-basis: 50%;
    flex-direction: column;
    align-items: center;
}
.devis-section h2 {
    color: #FFFFFF;
	padding-bottom: 50px;
}
div#devis-section-text {
	align-items: flex-start;
	flex-shrink: 2;
}
.devis-padding-text {
	padding-right: 15%;
}
.field {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 0px 20px;
}
.field label {
    font-family: 'Helvetica', 'sans serif';
    font-size: 0.9em;
    padding-bottom: 10px;
}
.field input {
	width: inherit;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    padding-left: 8px;
    font-family: 'Helvetica', 'sans serif';
    font-size: 0.9em;
}
.form-line {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
.padding-top-form {
	padding-top: 40px;
}
/* ----- FOOTER ----- */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 30px 8% 10px;
}
.section-footer {
    display: flex;
    flex-direction: column;
	color: #FFFFFF;
}
.section-footer img {
    width: 130px;
}
.section-footer a {
    transition: all 0.4s;
}
.section-footer a:hover {
    color: #FF5929;
}
.section-footer p {
	color: #FFFFFF;
    padding-top: 30px;
    line-height: 1.7em;
}
#copyright-section p, #social-network-icon {
	flex-direction: row;
	align-items: center;
	padding: initial;
}
#social-network-icon a {
	font-size: 2em;
	padding: 10px;
}
#facebook:hover {
    color: #3b5998
}
#twitter:hover {
    color: #1DA1F2;
}
#linkedin:hover {
    color: #0e76a8;
}
#youtube:hover {
    color: #FF0000;
}
